<div class="home-container">
  <div class="col">
    <div class="image-1">
      <a href="https://www.samgee.xyz" target="_blank" rel="noopener noreferrer"></a>
    </div>
  </div>

  <div class="col">
    <div class="pong-container">
    </div>
  </div>
</div>
