.name {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 100px;
  margin-bottom: -30px;
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
